.friendList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  gap: 18px;
  padding: 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #242424;
  overflow: hidden;
  width: 100%;
  border: 2px solid black;
  border-radius: 12px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .friendList {
    justify-content: center;
  }
}
